.interncard {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.container1 {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.container1 .card2 {
  position: relative;
  cursor: pointer;
}

.container1 .card2 .face11 {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container1 .card2 .face11.face12 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container1 .card2:hover .face11.face12 {
  background: rgba(23,23,23,0.15);
  transform: translateY(0);
}

.container1 .card2 .face11.face12 .content1 {
  opacity: 0.5;
  transition: 0.5s;
}

.container1 .card2:hover .face11.face12 .content {
  opacity: 1;
}

.container1 .card2 .face11.face12 .content1 img {
  max-width: 200px;
  margin-top: -20px;
}

.container1 .card2 .face11.face12 .content1 h3 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}

.container1 .card2 .face11.face21 {
  position: relative;
  background: #21576f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container1 .card2:hover .face11.face21 {
  transform: translateY(0);
}

.container1 .card2 .face11.face21 .content1 p {
  margin: 0;
  font-size: small;
  padding: 0;
  font-family: cursive;
}

.container1 .card2 .face11.face21 .content1 a {
  margin: 15px 0 0;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 900;
  color: #27ffff;
  padding: 5px;
  border: 0.5px solid #c6e6ed;
}

.container1 .card2 .face11.face21 .content1 a:hover {
  background: #197979;
  color: #ffffff;
}

