.myskill {
  background: #bdc3c3;
  padding-top: 2%;
  height: 100%;
}

#myChart {
  cursor: crosshair;
}

.myskill skills-chart {
  text-align: center;
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
}

.myskill skills-chart-legend {
  margin: 0 auto 15px;
}

.myskill skills-chart-canvas {
  max-width: 700px;
  margin: auto;
}

.myskill skills-chart-legend {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.myskill skills-chart-legend:before {
  content: "";
  display: block;
  float: left;
  margin: 3px 0 0 -15px;
  height: 9px;
  width: 9px;
}

.myskill skills-chart-legend--interest {
  color: #71dd1c;
}

.myskill skills-chart-legend--interest:before {
  background: #2a3032;
}

.myskill skills-chart-legend--skill {
  color: #13dd78;
}

.myskill skills-chart-legend--skill:before {
  background: #61c191;
}

#particles-js {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(../../assets/img/intro-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.test {
  background: linear-gradient(-45deg, #7873f5, #ec77ab, #537895, #09203f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

